[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/peinan/tmux.git
    branch = main

[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/peinan/nvim.git
    branch = main

[submodule ".config/vim"]
	path = .config/vim
	url = https://github.com/peinan/vim.git
    branch = main
