" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

""" Basic Settings

" ステータス行を常に表示
set laststatus=2

" ウィンドウの右下にまだ実行していない入力中のコマンドを表示
set showcmd

" 省略されずに表示
set display=lastline

""" Key Mappings

"<Esc><Esc> to make no highlight
nmap <silent> <Esc><Esc> :nohlsearch<CR>

"<v><v> to select to end of line
vnoremap v $h

"<CR> to insert line in normal mode
noremap <CR> O<Down><Esc>

"<Del> and <C-h> to delete left charactor
noremap <BS> <Left><Del>
noremap <C-h> <Left><Del>

" ZS to save
noremap <silent> ZS :w<CR>

" 上下移動を一段ずつ
nnoremap j gj
nnoremap k gk

" Window Tab settings
"" The prefix key.
nnoremap    [Tag]   <Nop>
nmap    t [Tag]

" tc 新しいタブを一番右に作る
map <silent> [Tag]c :tabnew<CR>
" tx タブを閉じる
map <silent> [Tag]x :tabclose<CR>
" tl 次のタブ
map <silent> [Tag]l :<C-u>action NextTab<CR>
" th 前のタブ
map <silent> [Tag]h :<C-u>action PreviousTab<CR>
set ideajoin